
.badge {
    max-height: 100px;
}

.badge.square {
    border-radius: unset;
}
ol ol {
    list-style: lower-alpha;
}

.list ul li .title .description {
    font-size: 0.9em;
    font-weight: 400;
}

.mermaid {
    background: white;
}

.colorscheme-dark .mermaid {
    background: black;
}
.mermaid-container .controls,.mermaid-container .reset {
    position: relative;
    z-index: 999;
}
